<div class="c-banner">
	<div class="o-wrapper-main">
		<div class="o-wrapper-secondary">
			<div class="c-banner_content">
				<div class="h1">
					<h1>
		{% if entry is defined %}{% if entry.type == "home" %}
			<p class="c-page-title">{{entry.headerTitle}}</p>
		{% elseif entry.type == "eventsList" or "showsList" %}
		<p class="c-page-title">Spectacles</p>

		{% endif %}	
		{% else %}
		<p class="c-page-title">Spectacles</p>									
{% endif %}
					</h1>
			</div>	
			{% if entry is defined %}{% if entry.type == "home" %}							
					<form action="{{ url('search/results') }}">
    					<input type="search" name="q" placeholder="Recherche">
    					<input type="submit" value="Go">
					</form>
					{% endif %}
					{% endif %}
				</div>	
				{% if entry is defined %}{% if entry.type == "eventsList" or "showsList" and entry.type != "home" %}
					
				{% endif %}
				{% else %}
				<div class="c-events_details">
					<ul class="o-layout">
					<li class="o-layout__item"><h1 class="c-single-title">{{event.title}}</h1></li>
					<li class="o-layout__item"><h2 class="c-single-title">{{event.eventName}}</h2></li>
					<li class="o-layout__item u-3/5">{{event.disciplines.one.title}}</li>
					<li class="o-layout__item u-2/5">À partir de {{event.aPartir}}$</li>
{% set currentID = event.id %}
					{% set eventOptions = {id:event.id} %}
					{% paginate craft.calendar.events(eventOptions) as pageInfo, events %}
					{% set dateZero = "" %}
					{% set dateOne = "" %}
					{% set total = "" %}
					{% for event in events %}
						{% if loop.first %}
    						{% set dateZero = event.startDate %}
    					{% endif %}
						{% if loop.last %}
    						{% set dateOne 	= event.startDate %}
    					{% endif %}    					
    					{% set total = loop.index%}
					{% endfor %}					
					{{event|length}}
					{% if total > 1 %}
{% if dateZero|date('F') == dateOne|date('F') %}
	<li class="o-layout__item u-3/5">{{dateZero|date('j ')}}au{{dateOne|date(' j F')}}</li> 
{% else %}	
<li class="o-layout__item u-3/5">{{dateZero|date('j F ')}}au{{dateOne|date(' j F')}}</li> 
{% endif %}
{% else %}	
<li class="o-layout__item u-3/5">{{dateZero|date('j F ')}}</li>
{% endif %}					
					<li class="o-layout__item u-2/5">{{event.theater.label}}</li>					

</ul>

					{% set eventOptions = {id:event.id} %}
					{% paginate craft.calendar.events(eventOptions) as pageInfo, events %}
					<ul>
						{% for event in events %}
    						<li value="">{{ event.startDate|date('j F Y') }}</li>
						{% endfor %}					
					</ul>
					<p></p>
				</div>		
				{% endif %}
		</div>
	</div>
	<div class="c-cover" style="background: 
		{% if entry is defined %}
			{% if entry.type == "home" %}
				url({{entry.headerImage.one.url()}})
			{% elseif entry.type == "eventsList" or "showsList" %}
				url({{entry.showsHeaderImage.one.url()}})
			{% endif %}
		{% else %}
			url({{event.showsHeaderImage.one.url()}})
		{% endif %}">

		{% if entry is defined %}{% if entry.type == "home" %}
			
			<p class="c-page-title -cover">{{entry.headerTitle}}</p>
		{% elseif entry.type == "eventsList" or "showsList" %}
		<p class="c-page-title -cover">Spectacles</p>
		{% endif %}	
		{% else %}
		<p class="c-page-title -cover">Spectacles</p>				
{% endif %}
		
	</div>
</div>		


