{% set pages = craft.entries.section('menuMain').level(1).all() %}



<div class="c-main-nav">
	<div class="c-main-nav_menu">
		<div class="o-wrapper-main">
			<div class="c-flex-navigation">
				<div class="c-logo">
					<img src="{{ baseUrl }}/assets/images/logos/valspec_logo.svg" alt="">
				</div>
				<nav class="c-menu_nav">
					<ul class="c-menu_ul">
        {% for page in pages %}
            <li><a href="">{{ page.title }}</a></li>
        {% endfor %}
					</ul>
				</nav>
			</div>
		</div>
		<div class="c-calendar">
			<div class="c-calendar_icon"></div>
			<div class="c-calendar_text"></div>
		</div>
	</div>
</div>