<div class="c-secondary-nav">
	<nav class="c-secondary-nav_nav">
		<ul>
			<li class="c-favorites -icons">
				<a href="">Favoris</a>
			</li>
			<li class="c-cart -icons">
				<a href="">Favoris</a>
			</li>
			<li class="c-user -icons">
				<a href="">Favoris</a>
			</li>								
			<li>
				<a>{{info.globalPhone}}</a>
			</li>
			<li class="c-secondary-nav_nav_spacer">|</li>
			<li>
				<a>{{info.globalPhoneTollFree}}</a>
			</li>				
		</ul>
	</nav>
</div>