{% extends "_pages/layout/site.html" %}
{% block content %}

{% set eventOptions = {id:53} %}

{% paginate craft.calendar.events(eventOptions) as pageInfo, events %}

{% for event in events %}
    {{ event.startDate|date('j F Y') }}
{% endfor %}

{% if pageInfo.prevUrl %}
  <a href="{{ pageInfo.prevUrl }}">Previous Page</a>
{% endif %}
{% if pageInfo.nextUrl %}
  <a href="{{ pageInfo.nextUrl }}">Next Page</a>
{% endif %}

{{event.showsHeaderImage.one.url()}}df

{% endblock %} 
