{# initialisation #}
    {% set baseUrl  = "" %}

{# declaration #}
    {% set baseUrl  = alias(craft.app.sites.primarySite.baseUrl) %}

{# code #}

    <!doctype html>
    <html lang="{{craft.app.language}}">
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head> 
        <body id="barba-wrapper" class="{% if entry is defined %}{% if entry.type == "home" %}c-type-home{% elseif entry.type == "eventsList" or "showsList" %}c-type-single{% else %}c-type-page{% endif %}{% else %}c-type-single{% endif %}">
             <header class="c-header">
                 {# NAVIGATION #} {% include '_pages/components/base/secondary-nav' %}
                 {# NAVIGATION #} {% include '_pages/components/base/main-nav' %}
                 {# NAVIGATION #} {% include '_pages/components/base/banner' %}
                 <div id="calendar"></div>
             </header>
                <main class="c-main">
                    {% block content %}
                    {% endblock %}  
                </main>
                {# FOOTER #} {# {% include '_includes/components/footer/footer.html' %} #}
                <script defer src="{{ baseUrl }}/assets/script/app.js"></script>    
                            <link rel="stylesheet" href="{{ baseUrl }}/assets/css/app.css">
                <link href="https://fonts.googleapis.com/css?family=Montserra:400,600,700t&display=swap" rel="stylesheet">
        </div>
    </body>
</html>