{% extends "_pages/layout/site.html" %}
{% block content %}

	<section class="o-section c-next-event">
		<div class="o-wrapper-main">
			<div class="o-wrapper-secondary">
				<div class="c-next-event_grid">
					<div class="c-next-event_grid_item o-ratio o-ratio--next-events-zero" style="background: url('http://placekitten.com/526/563')">
					</div>
					<div class="c-next-event_grid_item" style="background: url('http://placekitten.com/526/293')">
					</div>
					<div class="c-next-event_grid_item" style="background: url('http://placekitten.com/526/293')">
					</div>
					<div class="c-next-event_grid_item o-ratio o-ratio--next-events-zero" style="background: url('http://placekitten.com/526/563')">
					</div>												
				</div>
				<div class="c-btn_wrapper">
					<div class="c-button">
						<a class="c-btn c-btn--primary"><span>En voir plus</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="o-section c-packages-and-subscriptions">
		<div class="o-wrapper-main">
			<div class="o-wrapper-secondary">
				<h2>{{entry.packagesSubscriptionsTitle}}</h2>
				<div class="o-wrap">
					{{entry.packagesSubscriptionsContent}}		
				</div>
				<div class="c-btn_wrapper">
					<div class="c-button -one">
						<a class="c-btn c-btn--primary"><span>En voir plus</span></a>
					</div>
				</div>	
			</div>
		</div>
	</section>

	<section class="o-section c-information">
		<div class="c-information_slider">
			<ul class="o-list-bare">
				{% for image in entry.homeSlider %}
				<li>
					<img src="{{image.url()}}" alt="">
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="o-wrapper-main">
			<div class="o-wrapper-secondary -rel">
				<div class="c-information_content">
					<h2>{{entry.presentationTitle}}</h2>
					{{entry.PresentationContent}}

					<div class="c-button -two">
						<a class="c-btn c-btn--primary" href="{{entry.presentationLink.getUrl()}}"><span>{{entry.presentationLink.text}}</span></a>
					</div>
				</div>						
			</div>
		</div>
	</section>

	<section class="o-section c-newsletter">
		<div class="o-wrapper-main">
			<div class="o-wrapper-secondary">
				<h2>{{entry.newsletterTitle}}</h2>
				<div class="o-wrap">
				{{entry.newsletterContent}}



			</div>

                <form id="signup" class="c-newsletter_form" action="subscribe.php" method="post">
                    <fieldset>
                            <input name="email" id="email" type="text" placeholder="Entrez votre addresse courriel" data-parsley-type="email" data-parsley-length="[1, 210]" data-parsley-group="email-form" data-parsley-error-message="" data-parsley-validate-if-empty>
                            <input type="submit" value="Envoyer" name="subscribe" id="mc-embedded-subscribe" class="">
                    </fieldset>
{#     <script>
    window.csrfTokenName = "{{ craft.config.csrfTokenName|e('js') }}";
    window.csrfTokenValue = "{{ craft.request.csrfToken|e('js') }}";
    </script>
 #}
                </form>

			</div>
		</div>
	</section>

<section class="o-section c-partners">
		<div class="o-wrapper-main">
			<div class="o-wrapper-secondary">	
	<h2>{{entry.partnersTitle}}</h2>
	<div class="o-layout o-layout--huge o-layout--auto o-layout--middle c-partners_list">
		{% for partner in entry.partnersList %}
		<li class="o-layout__item"><img src="{{partner.url()}}" alt=""></li>
		{% endfor %}
	</div>
<div class="c-btn_wrapper">
					<div class="c-button">
						<a class="c-btn c-btn--primary"><span>{{entry.partnersLink.text}}</span></a>
					</div>
				</div>	



</div></div>
</section>


{% endblock %} 




